{{!< default}}

{{> navigation blog=true}}

<main id="site-main" class="site-main outer">
  <div class="mx-auto max-w-7xl sm:px-6 pt-4 text-center">
    <div class="flex-column md:flex justify-between">
      <div class="inner posts">
          <ul
            role="list"
            class="post-feed grid grid-cols-1 gap-12 lg:grid-cols-2 mb-16"
          >
            {{#foreach posts}}

              {{> "post-card-full" show_image=true}}

            {{/foreach}}
          </ul>
          
          {{pagination}}
      </div>

      <div>
        <p class="text-3xl font-bold text-left">Creating <br /> software solutions <br /> that work</p>
        <div class="mt-10 border-2 border-gray-200 pt-4 px-3">
          <h2 class="text-lg font-bold tracking-tight text-gray-900 text-center">Explore topics</h2>
          <div class="flex justify-between mt-5 pb-1 border-b-2 border-gray-200">
            <div class="text-gray-900 font-medium">Elixir</div>
            <div  class="text-gray-900 font-medium">5</div>
          </div>
          <div class="flex justify-between py-2 border-b-2 border-gray-200">
            <div  class="text-gray-900 font-medium">Navigation</div>
            <div  class="text-gray-900 font-medium">2</div>
          </div>
          <div class="flex justify-between py-2 border-b-2 border-gray-200">
            <div class="text-gray-900 font-medium">CSS</div>
            <div class="text-gray-900 font-medium">2</div>
          </div>
          <div class="flex justify-between py-2">
            <div class="text-gray-900 font-medium">Git</div>
            <div class="text-gray-900 font-medium">3</div>
          </div>
        </div>
      </div>
    </div>

    <div class="pt-12 sm:pt-16 mt-16 mb-16 pb-8">
      <h2 class="text-lg font-bold tracking-tight text-gray-900 text-left">Explore topics</h2>
      <div class="mt-10">
        <div class="relative">
          <div>
            <div>
              <dl class="rounded-lg sm:grid sm:grid-cols-3">
                <div class="flex flex-col px-6 py-12 text-center bg-gray-50 w-72">
                  <dt class="order-2 mt-2 text-lg font-medium leading-6">CSS</dt>
                  <dd class="order-1 text-3xl font-bold tracking-tight">5+</dd>
                </div>
                <div class="flex flex-col px-6 py-12 text-center bg-gray-50 w-72">
                  <dt class="order-2 mt-2 text-lg font-medium leading-6">Navigation</dt>
                  <dd class="order-1 text-3xl font-bold tracking-tight">2+</dd>
                </div>
                <div class="flex flex-col px-6 py-12 text-center bg-gray-50 w-72">
                  <dt class="order-2 mt-2 text-lg font-medium leading-6">Elixir</dt>
                  <dd class="order-1 text-3xl font-bold tracking-tight">3+</dd>
                </div>
              </dl>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</main>

{{> footer blog=true}}
