{{!< default}}

{{> navigation other=true}}

<main>
  <div class="mx-auto max-w-7xl px-4 sm:px-6 lg:px-8 text-center">
    <div class="bg-gray-50 pt-20 pb-28 lg:pl-48 lg:pr-48 sm:pl-20 sm:pr-20">
      <div class="text-center">
        <p class="text-gray-500 text-sm mb-1">Mi tražimo</p>
        <h1 class="text-5xl font-bold tracking-tight">GO programer</h1>
        <p class="mt-12 leading-2 text-gray-500 text-sm text-left">Kolosek je kompanija koja postoji već 11 godina. Naša kultura se zasniva na konstantnom učenju, dobrim međuljudskim odnosima, rešavanju izazovnih inženjerskih problema. Veliki broj aplikacija na kojima radimo dobije svoj opis na <a href="https://techcrunch.com">techcrunch.com</a>. <br />Ohrabrujemo kako početnike tako i iskusne programere da se prijave, jer proširujemo naš tim i tražimo kandidate različitih profila da nam se pridruže.</p>
      </div>
      <div class="text-center mt-16">
        <h1 class="text-3xl font-semibold tracking-tight text-left">Šta je ono što nudimo?</h1>
        <p class="mt-5 leading-2 text-gray-500 text-sm text-left">
        · Fer i otvoren odnos <br />
        · Adekvatnu kompenzaciju za uloženi trud <br />
        · Work-life balans. Nema prekovremenih sati, osim ako je baš neophodno. <br />
        · Rad u organizovanom timu <br />
        · Rad na izazovnim projektima <br />
        · Rad od kuće kao opciju
        </p>
      </div>
      <div class="text-center mt-16">
        <h1 class="text-3xl font-semibold tracking-tight text-left">Idealan kandidat</h1>
        <p class="mt-5 leading-2 text-gray-500 text-sm text-left">
          · Poznaje Golang programski jezik, ili je otvoren da stekne nova znanja iz istog<br />
          · Ima iskustva u radu sa Web tehnologijama ili/i ima završen fakultet iz oblasti Computer Science (otvorena mogućnost za studente)<br />
          · Razume object-oriented programiranje<br />
          · Profesionalan, odgovoran, sa razvijenim analitičkim sposobnostima<br />
          · Poseduje želju za napredovanjem, savladavanjem izazova i pisanjem što kvalitetnijeg koda<br />
          · Timskog je duha<br />
          · Poznaje engleski jezik
        </p>
      </div>
      <div class="text-center mt-16">
        <h1 class="text-3xl font-semibold tracking-tight text-left">Pozicija GO programera podrazumeva</h1>
        <p class="mt-5 leading-2 text-gray-500 text-sm text-left">
          · Planiranje, development i održavanje raznih softverskih rešenja<br />
          · Definisanje zadataka i procenu vremena<br />
          · Pisanje čistog i lakog za održavanje koda<br />
          · Razvoj novih funkcionalnosti, kao i analiza i reakcija na rezultate od strane QA inženjera<br />
          · Mogućnost izlaganja svojih rešenja grupi kolega<br />
          · Korišćenje agilnih metodologija u razvoju (ako ih još nemaš, mi ćemo te naučiti)<br />
          · Učestvovanje u pregledanju koda (code reviews) i deljenje znanja<br />
          · Konstantno poboljšanje sopstvenog znanja i podučavanje drugih<br />
          · Rad u raznovrsnom timu
        </p>
      </div>
      <div class="flex items-center mt-16">
        <img src={{ asset "images/coffee.svg"}} />
        <p class="text-left ml-8 text-1xl font-semibold">
          Ukoliko neku od tehnologija ne poznaješ, a misliš da uz pomoć svog truda <br /> i želje možeš brzo da naučiš, slobodno se prijavi
        </p>
      </div>
      <p class="mt-16 leading-2 text-gray-500 text-sm text-left">Ukoliko si stigao/la dovde sa čitanjem, čestitamo! U prijavi dodaj #pročitao ili #pročitala kako bismo znali da obraćaš pažnju na detalje.<br />Toliko od nas! Hvala na interesovanju za rad u našem kolektivu. </p>
      <p class="mt-16 leading-2 font-semibold text-left">Srećno!</p>
    </div>

    <form action="/" method="POST" class="space-y-8 lg:pl-48 lg:pr-48 sm:pl-20 sm:pr-20 mt-36 mb-36">
      <div class="space-y-8 divide-y divide-gray-200">
        <div>
          <h3 class="text-3xl font-semibold">Prijavni formular</h3>

          <div class="mt-14 grid grid-cols-1 gap-y-6 gap-x-4 sm:grid-cols-6">
            <div class="sm:col-span-6">
              <label for="full-name" class="block text-sm text-gray-600 text-left">Puno Ime</label>
              <div class="mt-1">
                <input type="text" name="full-name" id="full-name" class="block w-full rounded-md border border-gray-300 shadow-sm focus:border-indigo-500 focus:ring-indigo-500 sm:text-sm p-3" />
              </div>
            </div>
            <div class="sm:col-span-3">
              <label for="email" class="block text-sm text-gray-600 text-left">Email</label>
              <div class="mt-1">
                <input type="email" name="email" id="email" class="block w-full rounded-md border border-gray-300 shadow-sm focus:border-indigo-500 focus:ring-indigo-500 sm:text-sm p-3" />
              </div>
            </div>
            <div class="sm:col-span-3">
              <label for="phone" class="block text-sm text-gray-600 text-left">Telefon</label>
              <div class="mt-1">
                <input type="text" name="phone" id="phone" class="block w-full rounded-md border border-gray-300 shadow-sm focus:border-indigo-500 focus:ring-indigo-500 sm:text-sm p-3" />
              </div>
            </div>
            <div class="sm:col-span-6">
              <div class="flex justify-between">
                <label for="education" class="block text-sm text-gray-600 text-left">Obrazovanje</label>
                <label class="block text-sm text-gray-400 text-left">Šta si studirao/la? Naznačiti godinu završetka studija, ukoliko postoji</label>
              </div>
              <div class="mt-1">
                <input type="text" name="education" id="education" class="block w-full rounded-md border border-gray-300 shadow-sm focus:border-indigo-500 focus:ring-indigo-500 sm:text-sm p-3" />
              </div>
            </div>
            <div class="sm:col-span-6">
              <label class="block text-sm text-gray-600 text-left">Koje tehnologije znaš?</label>    
              <div class="mt-4 sm:col-span-2">
                <div class="flex justify-between items-center">
                  <div class="relative flex items-start">
                    <div class="flex h-5 items-center">
                      <input id="cb-java" name="cb-java" type="checkbox" class="h-4 w-4 rounded border border-gray-300 text-gray-600" />
                    </div>
                    <div class="ml-3 text-sm">
                      <p class="text-gray-600">Java</p>
                    </div>
                  </div>
                  <div class="relative flex items-start">
                    <div class="flex h-5 items-center">
                      <input id="cb-ruby" name="cb-ruby" type="checkbox" class="h-4 w-4 rounded border border-gray-300 text-gray-600" />
                    </div>
                    <div class="ml-3 text-sm">
                      <p class="text-gray-600">Ruby</p>
                    </div>
                  </div>
                  <div class="relative flex items-start">
                    <div class="flex h-5 items-center">
                      <input id="cb-js" name="cb-js" type="checkbox" class="h-4 w-4 rounded border border-gray-300 text-gray-600" />
                    </div>
                    <div class="ml-3 text-sm">                           
                      <p class="text-gray-600">JavaScript</p>
                    </div>
                  </div>
                  <div class="relative flex items-start">
                    <div class="flex h-5 items-center">
                      <input id="cb-python" name="cb-python" type="checkbox" class="h-4 w-4 rounded border border-gray-300 text-gray-600" />
                    </div>
                    <div class="ml-3 text-sm">                           
                      <p class="text-gray-600">Python</p>
                    </div>
                  </div>
                  <div class="relative flex items-start">
                    <div class="flex h-5 items-center">
                      <input id="cb-react" name="cb-react" type="checkbox" class="h-4 w-4 rounded border border-gray-300 text-gray-600" />
                    </div>
                    <div class="ml-3 text-sm">                           
                      <p class="text-gray-600">React</p>
                    </div>
                  </div>
                  <div class="relative flex items-start">
                    <div class="flex h-5 items-center">
                      <input id="cb-golang" name="cd-golang" type="checkbox" class="h-4 w-4 rounded border border-gray-300 text-gray-600" />
                    </div>
                    <div class="ml-3 text-sm">                           
                      <p class="text-gray-600">Golang</p>
                    </div>
                  </div>
                  <div class="relative flex items-start">
                    <div class="flex h-5 items-center">
                      <input id="cb-c#" name="cb-c#" type="checkbox" class="h-4 w-4 rounded border border-gray-300 text-gray-600" />
                    </div>
                    <div class="ml-3 text-sm">                           
                      <p class="text-gray-600">C#</p>
                    </div>
                  </div>
                  <div class="relative flex items-start">
                    <div class="flex h-5 items-center">
                      <input id="cb-other" name="cb-other" type="checkbox" class="h-4 w-4 rounded border border-gray-300 text-gray-600" />
                    </div>
                    <div class="ml-3 text-sm">                           
                      <p class="text-gray-600">Druge</p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="sm:col-span-6">
              <div class="flex justify-between">
                <label for="additional-technologies" class="block text-sm text-gray-600 text-left">Dodatne tehnologije</label>
                <label class="block text-sm text-gray-400 text-left">Odvojiti zarezom svaku od njih</label>
              </div>
              <div class="mt-1">
                <input type="text" name="additional-technologies" id="additional-technologies" class="block w-full rounded-md border border-gray-300 shadow-sm focus:border-indigo-500 focus:ring-indigo-500 sm:text-sm p-3" />
              </div>
            </div>
            <div class="sm:col-span-6">
              <div class="flex justify-between">
                <label for="file-upload" class="block text-sm text-gray-600 text-left">Resume/CV</label>
                <label class="block text-sm text-gray-400 text-left">Ukoliko imaš</label>
              </div>
              <div class="mt-1 flex justify-center rounded-md border-2 border-dashed border-gray-300 px-6 pt-5 pb-6">
                <div class="space-y-1 text-center">
                  <div class="flex-column justify-center items-center text-sm text-gray-600 h-32 pt-6">
                    <svg class="mx-auto h-12 w-12 text-gray-400" stroke="currentColor" fill="none" viewBox="0 0 48 48" aria-hidden="true">
                      <path d="M28 8H12a4 4 0 00-4 4v20m32-12v8m0 0v8a4 4 0 01-4 4H12a4 4 0 01-4-4v-4m32-4l-3.172-3.172a4 4 0 00-5.656 0L28 28M8 32l9.172-9.172a4 4 0 015.656 0L28 28m0 0l4 4m4-24h8m-4-4v8m-12 4h.02" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" />
                    </svg>
                    <label for="file-upload" class="relative cursor-pointer rounded-md bg-white font-medium text-indigo-600 focus-within:outline-none focus-within:ring-2 focus-within:ring-indigo-500 focus-within:ring-offset-2 hover:text-indigo-500">
                      <u class="text-gray-700">Upload a file</u><span class="text-gray-400 ml-1">or drag and drop</span>
                      <input id="file-upload" name="file-upload" type="file" class="sr-only" />
                    </label>
                  </div>
                </div>
              </div>
            </div>
            <div class="sm:col-span-6">
              <label for="description1" class="block text-sm text-gray-600 text-left">Zašto misliš da bi odgovarao/la ovoj poziciji?</label>
              <div class="mt-1">
                <textarea id="description1" name="description1" rows="7" class="block w-full rounded-md border border-gray-300 shadow-sm focus:border-indigo-500 focus:ring-indigo-500 sm:text-sm pl-3 pt-3"></textarea>
              </div>
            </div>
            <div class="sm:col-span-6">
              <label for="description2" class="block text-sm text-gray-600 text-left">Da li imaš nešto kao napomenu da nam kažeš?</label>
              <div class="mt-1">
                <textarea id="description2" name="description2" rows="7" class="block w-full rounded-md border border-gray-300 shadow-sm focus:border-indigo-500 focus:ring-indigo-500 sm:text-sm pl-3 pt-3"></textarea>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="px-4 py-3 text-center sm:px-6">
        <button class="group inline-flex items-center justify-center rounded-full py-3 px-16 text-sm font-semibold focus:outline-none focus-visible:outline-2 focus-visible:outline-offset-2 bg-slate-900 text-white hover:bg-slate-700 hover:text-slate-100 active:bg-slate-800 active:text-slate-300 focus-visible:outline-slate-900">Submit</button>
        <p class="mt-5 text-gray-500 text-sm text-center">By clicking &quot;Submit&quot; you agree to the Privacy Policy and Terms of Use </p>
        <p class="mt-1 text-gray-500 text-sm text-center">Molimo za razumevanje, naš tim brzo raste i za sada ćemo odgovarati samo kandidatima koji budu ušli u uži krug</p>
      </div>
    </form>
  </div>
</main>

{{> footer other=true}}
