{{!< default}}

{{> navigation other=true}}

<main>
  <div class="mx-auto max-w-7xl px-4 sm:px-6 lg:px-8 pt-20 lg:pt-20 text-center">
    <div class="text-center">
      <h1 class="text-5xl font-bold tracking-tight">Feel like working together?</h1>
      <p class="mt-4 leading-8 text-gray-600">We helped build many startups in various industries. We are sure we can help you too. <br /> Tell us more about your project or idea</p>
    </div>

    <div class="grid grid-cols-1 lg:grid-cols-3 mt-20 mb-20">
      <div class="relative overflow-hidden bg-gradient-to-b bg-gray-100 py-10 px-6 sm:px-10 xl:p-12">
        <h3 class="relative text-3xl text-left font-semibold" style="width: 220px;">
          Get in touch
          <img class="absolute" style="top: -10px; right: 18px;" src={{asset "images/freehand/contact/01.svg"}} />
        </h3>
        <div class="flex items-center mt-10">
          <img src={{ asset "images/Call.svg"}} />
          <div class="ml-4 text-lg font-semibold">Call us</div>
        </div>
        <p class="text-left text-sm text-gray-500 mt-5">Schedule a meeteng to discuss your idea and see how we can help</p>
        <p class="text-left text-sm mt-3 underline">Schedule a call</p>
        <div class="flex items-center mt-10">
          <img src={{ asset "images/Message.svg"}} />
          <div class="ml-4 text-lg font-semibold">Write to us</div>
        </div>
        <p class="text-left text-sm text-gray-500 mt-5">If you prefere to chat fill out the feedback form or say hello at <u class="text-black">hello@kolosek.com</u></p>
      </div>

      <div class="px-6 sm:px-10 lg:col-span-2 xl:p-12">
        <div class='bgn-wf-wrapper' id='BiginWebToEntityFormDiv362158000000694001' style='background-color:white;color:black;'>
         <meta name='viewport' content='width=device-width, initial-scale=1.0'>
         <META HTTP-EQUIV ='content-type' CONTENT='text/html;charset=UTF-8'>
         <form id='BiginWebToContactForm362158000000694001' name='BiginWebToContactForm362158000000694001' method='POST' enctype='multipart/form-data' onSubmit='javascript:document.charset="UTF-8"; return validateForm362158000000694001()' accept-charset='UTF-8' style='margin: 0;'>
        <!-- Do not remove this code. -->
          <input type='text' style='display:none;' name='xnQsjsdp' value='6fe99b3f7f48f0cd229fdd3776846295baad22d289a6dbf074ebaa00defd792b'/>
          <input type='hidden' name='zc_gad' id='zc_gad' value=''/>
          <input type='text' style='display:none;' name='xmIwtLD' value='c938b3760cef79fa104a6d95db5ac1e66fe3e0257bd255427c8475587d49c2ff'/>
          <input type='text' style='display:none;' name='actionType' value='Q29udGFjdHM='/>
          <input type='text' style='display:none;' name='returnURL' value='https://kolosek.com' />
          <div id="elementDiv362158000000694001" style="border:0;width: 100%;background-color: white;color:black;font-family:Arial;text-align:left; font-size: 15;">
          <div class="bgn-wf-row">
          <div class="bgn-wf-field">
          <input name="First Name" type="text" maxlength="40" value="" placeholder="First name" class="block w-full rounded-md border border-gray-300 py-3 px-4 text-warm-gray-900 shadow-sm focus:border-teal-500 focus:ring-teal-500 placeholder-gray-400 p-3"/>
          </div>
          </div>
          <div class="bgn-wf-row">
          <div class="bgn-wf-field">
          <input name="Last Name" type="text" maxlength="80" value="" placeholder="Last name" class="block w-full rounded-md border border-gray-300 py-3 px-4 text-warm-gray-900 shadow-sm focus:border-teal-500 focus:ring-teal-500 placeholder-gray-400 p-3"/>
          </div>
          </div>
          <div class="bgn-wf-row">
          <div class="bgn-wf-field">
          <input name="Email" type="text" maxlength="100" value="" placeholder="Email" class="block w-full rounded-md border border-gray-300 py-3 px-4 text-warm-gray-900 shadow-sm focus:border-teal-500 focus:ring-teal-500 placeholder-gray-400 p-3"/>
          </div>
          </div>
          <div class="bgn-wf-row">
          <div class="bgn-wf-field">
          <input name="Account Name" type="text" maxlength="120" value="" placeholder="Company name" class="block w-full rounded-md border border-gray-300 py-3 px-4 text-warm-gray-900 shadow-sm focus:border-teal-500 focus:ring-teal-500 placeholder-gray-400 p-3"/>
          </div>
          </div>
          <div class="bgn-wf-row">
          <div class="bgn-wf-field">
          <textarea name="Description" maxlength="32000" placeholder="Tell us your needs" class="block w-full rounded-md border border-gray-300 py-3 px-4 text-warm-gray-900 shadow-sm focus:border-teal-500 focus:ring-teal-500 placeholder-gray-400 p-3"></textarea>
          </div>
          </div>
          <div class="bgn-wf-row">
          <div class="bgn-wf-field">
          <input type="text" name="enterdigest" placeholder="Captcha" class="block w-full rounded-md border border-gray-300 py-3 px-4 text-warm-gray-900 shadow-sm focus:border-teal-500 focus:ring-teal-500 placeholder-gray-400 p-3">
          </div>
          </div>
          <div class="bgn-wf-row"> <div class="bgn-wf-label"></div>
          <div class="bgn-wf-field"><a href="javascript:;" class="text-gray-500 font-medium" onclick="reloadImg362158000000694001()">Reload</a><img id="imgid362158000000694001" src="https://bigin.zoho.eu/crm/CaptchaServlet?formId=c938b3760cef79fa104a6d95db5ac1e66fe3e0257bd255427c8475587d49c2ff&grpid=6fe99b3f7f48f0cd229fdd3776846295baad22d289a6dbf074ebaa00defd792b"></div>
          </div>
          <div class="bgn-wf-row" style="margin-top: 5px;"><div class="bgn-wf-label"></div><div class="bgn-wf-field">
          <input onclick='disableSubmitwhileReset362158000000694001()' type='reset' class="group inline-flex items-center justify-center rounded-full py-3 px-10 text-sm font-semibold focus:outline-none focus-visible:outline-2 focus-visible:outline-offset-2 bg-slate-900 text-white hover:bg-slate-700 hover:text-slate-100 active:bg-slate-800 active:text-slate-300 focus-visible:outline-slate-900 mr-6 cursor-pointer" value='Reset' />
          <input class="group inline-flex items-center justify-center rounded-full py-3 px-10 text-sm font-semibold focus:outline-none focus-visible:outline-2 focus-visible:outline-offset-2 bg-slate-900 text-white hover:bg-slate-700 hover:text-slate-100 active:bg-slate-800 active:text-slate-300 focus-visible:outline-slate-900 cursor-pointer mt-2 md-mt-0"  id='formsubmit362158000000694001' type='submit' value='Submit' />
          </div></div>
          <p class="mt-3 text-gray-500 text-sm text-left">By clicking &quot;Start your Project&quot; you agree to the Privacy Policy and Terms of Use </p>
          </div>
        </form>
        </div>
      </div>
    </div>

    <div class="mt-40 mb-40 md:col-span-2 sm:pl-20 sm:pr-20 lg:pl-40 lg:pr-40">
      <div class="flex justify-center">
        <h1 class="relative text-4xl font-bold tracking-wide text-center" style="width: 300px;">
          Need a review?
          <img class="absolute" style="top: -20px; right: -18px;" src={{asset "images/freehand/contact/02.svg"}} />
        </h1>
      </div>
      <p class="mt-4 leading-8 text-gray-600">Submit your code or/and design to get feedback on your work. The main goal of this process is to provide <br /> you with an expert analysis and suggestions on how to improve your product</p>
      <div class="flex-column xl:flex justify-center mt-16">
        <div class="overflow-hidden rounded-lg bg-white shadow mb-3 pl-4 xl:mr-14">
          <div class="px-4 py-5 sm:p-6">
            <p class="text-left text-3xl font-semibold">Code</p>
            <fieldset class="space-y-5 pt-8">
              <div class="relative flex items-start">
                <div class="flex h-5 items-center">
                  <input id="code-quality" aria-describedby="code-quality" name="code-quality" checked disabled type="checkbox" class="h-4 w-4 rounded border border-gray-300 text-black focus:ring-gray-500">
                </div>
                <div class="ml-3 text-sm">
                  <p id="code-quality" class="text-gray-500">Code Quality</p>
                </div>
              </div>
              <div class="relative flex items-start">
                <div class="flex h-5 items-center">
                  <input id="code-maintainability" aria-describedby="code-maintainability" name="code-maintainability" checked disabled type="checkbox" class="h-4 w-4 rounded border border-gray-300 text-black focus:ring-gray-500" />
                </div>
                <div class="ml-3 text-sm">
                  <p id="code-maintainability" class="text-gray-500">Code Maintainability</p>
                </div>
              </div>
              <div class="relative flex items-start">
                <div class="flex h-5 items-center">
                  <input id="project-arcitecture" aria-describedby="project-arcitecture" name="project-arcitecture" type="checkbox" checked disabled class="h-4 w-4 rounded border border-gray-300 text-black focus:ring-gray-500" />
                </div>
                <div class="ml-3 text-sm">
                  <p id="project-arcitecture" class="text-gray-500">Project Architecture</p>
                </div>
              </div>
              <div class="relative flex items-start">
                <div class="flex h-5 items-center">
                  <input id="more-params" aria-describedby="more-params" name="more-params" type="checkbox" checked disabled class="h-4 w-4 rounded border border-gray-300 text-black focus:ring-gray-500" />
                </div>
                <div class="ml-3 text-sm">
                  <p id="more-params" class="text-gray-500">+ many more parameters</p>
                </div>
              </div>
            </fieldset>
            <div class="py-3 text-center mt-8">
              <a href="/code_review">
                <button class="group inline-flex items-center justify-center rounded-full py-3 px-24 text-sm font-semibold focus:outline-none focus-visible:outline-2 focus-visible:outline-offset-2 bg-white text-gray-600 hover:bg-slate-700 hover:text-slate-100 active:bg-slate-800 active:text-slate-300 focus-visible:outline-slate-900 border-gray-600 border">Learn More</button>
              </a>
            </div>
          </div>
        </div>
        <div class="overflow-hidden rounded-lg bg-white shadow mb-3 pl-4">
          <div class="px-4 py-5 sm:p-6">
            <p class="text-left text-3xl font-semibold">Design</p>
            <fieldset class="space-y-5 pt-8">
              <div class="relative flex items-start">
                <div class="flex h-5 items-center">
                  <input id="system-message" aria-describedby="system-message" name="system-message" checked disabled type="checkbox" class="h-4 w-4 rounded border border-gray-300 text-black focus:ring-gray-500" />
                </div>
                <div class="ml-3 text-sm">
                  <p id="system-message" class="text-gray-500">System Messages</p>
                </div>
              </div>
              <div class="relative flex items-start">
                <div class="flex h-5 items-center">
                  <input id="typography" aria-describedby="typography" name="typography" checked disabled type="checkbox" class="h-4 w-4 border rounded border-gray-300 text-black focus:ring-gray-500" />
                </div>
                <div class="ml-3 text-sm">
                  <p id="typography" class="text-gray-500">Typography</p>
                </div>
              </div>
              <div class="relative flex items-start">
                <div class="flex h-5 items-center">
                  <input id="foregrounds-backgrounds" aria-describedby="foregrounds-backgrounds" name="foregrounds-backgrounds" type="checkbox" checked disabled class="h-4 w-4 rounded border border-gray-300 text-black focus:ring-gray-500" />
                </div>
                <div class="ml-3 text-sm">
                  <p id="foregrounds-backgrounds" class="text-gray-500">Colors Foregrounds & Backgrounds</p>
                </div>
              </div>
              <div class="relative flex items-start">
                <div class="flex h-5 items-center">
                  <input id="more-ui&ux-features" aria-describedby="more-ui&ux-features" name="more-ui&ux-features" type="checkbox" checked disabled class="h-4 w-4 rounded border border-gray-300 text-black focus:ring-gray-500" />
                </div>
                <div class="ml-3 text-sm">
                  <p id="more-ui&ux-features" class="text-gray-500">+ many more UI & UX features</p>
                </div>
              </div>
            </fieldset>
            <div class="py-3 text-center mt-8">
              <a href="/design_review">
                <button class="group inline-flex items-center justify-center rounded-full py-3 px-24 text-sm font-semibold focus:outline-none focus-visible:outline-2 focus-visible:outline-offset-2 bg-white text-gray-600 hover:bg-slate-700 hover:text-slate-100 active:bg-slate-800 active:text-slate-300 focus-visible:outline-slate-900 border-gray-600 border">Learn More</button>
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</main>

{{> footer other=true}}
  
